$main-color-green: #029491;
$main-color-black: #000000;
$main-color-white: #ffffff;
$secondary-color-orange: #FFB64F;
$secondary-color-light-green: #7CE3E1;
$light-green-button-hover: #57dcda;
$secondary-color-purple: #5970FF;
$dark-purple-button-hover: #415af9;
$secondary-color-gray: #828282;
$secondary-color-light-gray: #e7e7e7;
$secondary-color-green: #8AC540;
$secondary-color-light-blue: #4fbaf4;


$arrow-color: #a1a1a1;
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
$error-color: #FF0000;
$error-color-background: #fdeaea;