@import 'fonts';
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: $font-secondary;
  height: 100%;
  max-width: 100vw;
}

:root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  --transition: all 0.3s ease;
  --padding: 30px 60px;
  --margin: 0 200px;

  .main-content {
    flex: 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1.5px;
    font-family: $font-primary;
  }
  p, li, ul, a {
    font-family: $font-secondary;
  }

  @media screen and (min-width: 2000px) {
    --padding: 30px 300px;
  }

  @media screen and (max-width: 768px) {
    --padding: 30px 40px;
    
  }

  @media screen and (max-width: 390px) {
    --padding: 20px 20px;
  }
}
